#votes {font-size: bold;
    font-size: 25px;

}
#downvote{
    background-color: red ;
}
#upvote{
    background-color: green ;
}
 button{
    margin: 5px;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
 }
 img{
    height: 300px;
    width: 150px;
    border-radius: 10px;
 }
 body{
    text-align: center;
 }